In [13]:
# Rename dataframe columns (remove suffix 1)
import pandas as pd

file1 = 'data/DATA1.csv'
file2 = 'data/DATA2.csv'
file3 = 'data/DATA3.csv'

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)


renamed_values = {
    "NDVI1": "NDVI",
    "ELEVATION1": "ELEVATION",
    'SLOPE1': 'SLOPE',
    'ASPECT1': 'ASPECT', 
    'AWND1': 'AWND',
    'TMAX1': 'TMAX',
    'TMIN1': 'TMIN',
    'WDF21': 'WDF2', 
    'WSF21': 'WSF2',
    'WILDFIRE1': 'WILDFIRE'
}
df1 = df1.rename(renamed_values, axis=1)
df2 = df2.rename(renamed_values, axis=1)
df3 = df3.rename(renamed_values, axis=1)
print("done")

done

In [15]:
# Fill wildfire NaN values to 0

df1['WILDFIRE'] = df1['WILDFIRE'].fillna(0)
df2['WILDFIRE'] = df2['WILDFIRE'].fillna(0)
df3['WILDFIRE'] = df3['WILDFIRE'].fillna(0)
print("done")

done

In [17]:
print(df1.head())
print(df2.head())
print(df3.head())

     id    LATITUDE   LONGITUDE  ...       WDF2      WSF2  WILDFIRE
0  1404  3854399.13  326799.269  ...  62.332275  6.885056       0.0
1  1405  3854399.13  326889.269  ...  62.307400  6.897952       0.0
2  1406  3854399.13  326979.269  ...  62.282536  6.910914       0.0
3  1407  3854399.13  327069.269  ...  62.257671  6.923944       0.0
4  1408  3854399.13  327159.269  ...  62.232819  6.937040       0.0

[5 rows x 14 columns]
     id    LATITUDE   LONGITUDE  ...        WDF2      WSF2  WILDFIRE
0  1404  3854399.13  326799.269  ...  185.020447  3.711546       0.0
1  1405  3854399.13  326889.269  ...  185.292389  3.715155       0.0
2  1406  3854399.13  326979.269  ...  185.565826  3.718787       0.0
3  1407  3854399.13  327069.269  ...  185.840729  3.722440       0.0
4  1408  3854399.13  327159.269  ...  186.117142  3.726115       0.0

[5 rows x 14 columns]
     id    LATITUDE   LONGITUDE  ...       WDF2      WSF2  WILDFIRE
0  1404  3854399.13  326799.269  ...  69.524773  5.871285       0.0
1  1405  3854399.13  326889.269  ...  69.505089  5.879456       0.0
2  1406  3854399.13  326979.269  ...  69.485420  5.887671       0.0
3  1407  3854399.13  327069.269  ...  69.465775  5.895930       0.0
4  1408  3854399.13  327159.269  ...  69.446144  5.904235       0.0

[5 rows x 14 columns]

In [12]:
df2 = pd.read_csv('data/DATA2.csv')

df2 = df2.rename({'LATITUDE\n': 'LATITUDE'}, axis=1)
df2.to_csv('data/DATA2.csv', index=False)

In [16]:
# Save to new csv file
df1.to_csv('data/data1.csv', index=False)
df2.to_csv('data/data2.csv', index=False)
df3.to_csv('data/data3.csv', index=False)
print("done")

done

### Grouped mean filling of non-target features having NaN values
 Make sure that data has same column names and target doesn't have NaN values

In [1]:
# Show processed data
# print("data1")
# print(df1.head())
# print("data2")
# print(df2.head())
# print("data3")
# print(df3.head())
import pandas as pd 

file1 = 'data/DATA1.csv'
file2 = 'data/DATA2.csv'
file3 = 'data/DATA3.csv'

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)

print(df1.size)
print(df2.size)
print(df3.size)

17689322
17689322
17689322

In [16]:
import pandas as pd
df_1 = pd.read_csv('data/joinedlayer1.csv')

df_1.loc[df_1['WILDFIRE'] > 0, 'CLASS'] = df_1['WILDFIRE'].apply(
    lambda x: 3 if x > 1000 else 2
)

df_1.loc[df_1['WILDFIRE'] == 0, 'CLASS'] = 1

# Convert CLASS to integer (optional, removes decimals if any)
df_1['CLASS'] = df_1['CLASS'].astype(int)

df_1.head()

df_1.to_csv('data/new1.csv', index=False)

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/pred_data.csv')

df = df.drop(columns=['Y', 'X'])
df = df.dropna()
df.describe()

,id,LATITUDE,LONGITUDE,NDVI1,ELEVATION1,SLOPE1,AWND1,TMAX1,TMIN1,WDF21,WSF21,MONTH,YEAR
count,1.262751e+06,1.262751e+06,1.262751e+06,1.262751e+06,1.262751e+06,1.262751e+06,1.262751e+06,1.262751e+06,1.262751e+06,1.262751e+06,1.262751e+06,1262751.0,1262751.0
mean,7.668256e+05,3.802805e+06,3.881037e+05,1.576271e-01,6.990169e+02,9.075903e+00,2.784599e+00,2.281131e+01,9.428305e+00,2.240860e+02,7.065635e+00,4.0,2025.0
std,4.637164e+05,3.128485e+04,2.832427e+04,8.341014e-02,4.878153e+02,9.001104e+00,6.535546e-01,1.347005e+00,7.083463e-01,2.425109e+01,1.148940e+00,0.0,0.0
min,1.404000e+03,3.730199e+06,3.205890e+05,-1.468017e-01,-1.500000e+01,0.000000e+00,8.014786e-01,1.720877e+01,6.703424e+00,1.500262e+02,2.203763e+00,4.0,2025.0
25%,3.627205e+05,3.776999e+06,3.664890e+05,9.044466e-02,2.740000e+02,1.867923e+00,2.260498e+00,2.206719e+01,8.925502e+00,2.126492e+02,6.163480e+00,4.0,2025.0
50%,7.487060e+05,3.803999e+06,3.882690e+05,1.465592e-01,7.320000e+02,4.854869e+00,2.635610e+00,2.296243e+01,9.475815e+00,2.224148e+02,6.830016e+00,4.0,2025.0
75%,1.149300e+06,3.830099e+06,4.112190e+05,2.107495e-01,9.660000e+02,1.484271e+01,3.258561e+00,2.361387e+01,9.942355e+00,2.314443e+02,8.026046e+00,4.0,2025.0
max,1.842916e+06,3.854399e+06,4.404690e+05,6.448640e-01,3.058000e+03,6.595309e+01,4.899541e+00,2.779536e+01,1.169768e+01,3.199775e+02,9.799911e+00,4.0,2025.0

In [9]:
renamed_values = {
    "NDVI1": "NDVI",
    "ELEVATION1": "ELEVATION",
    'SLOPE1': 'SLOPE',
    'ASPECT1': 'ASPECT', 
    'AWND1': 'AWND',
    'TMAX1': 'TMAX',
    'TMIN1': 'TMIN',
    'WDF21': 'WDF2', 
    'WSF21': 'WSF2',
    'WILDFIRE1': 'WILDFIRE'
}

df = df.rename(renamed_values, axis=1)
df.to_csv('data/pred_data.csv', index=False)
df.head()

,id,LATITUDE,LONGITUDE,DATE,NDVI,ELEVATION,SLOPE,AWND,TMAX,TMIN,WDF2,WSF2,MONTH,YEAR
0,1404,3854399,326799,2025/04/20,0.128242,1191.0,1.023401,3.912059,21.444698,8.932087,273.184082,8.345325,4,2025
1,1405,3854399,326889,2025/04/20,0.206979,1190.0,3.567490,3.915450,21.439783,8.930074,273.335938,8.349173,4,2025
2,1406,3854399,326979,2025/04/20,0.239653,1183.0,5.267991,3.918850,21.434843,8.928054,273.488251,8.353027,4,2025
3,1407,3854399,327069,2025/04/20,0.175260,1180.0,2.714887,3.922257,21.429878,8.926029,273.640991,8.356891,4,2025
4,1408,3854399,327159,2025/04/20,0.157513,1178.0,2.715384,3.925673,21.424891,8.923998,273.794128,8.360763,4,2025